<div class="row">
    <div class="" ba-panel 
         ba-panel-class="with-scroll" ba-panel-title="Avaliações Abertas">

        <div class="table-responsive" >
            <table class="table table-hover text-left">
                <tr>
                    <th> 
                        Titulo
                    </th>
                    <th> 
                        Autor
                    </th>
                    <th> 
                        Ações
                    </th>
                    <th> 
                        Situação
                    </th>
                </tr>

                <tr ng-repeat="x in vm.avaliacao" style="cursor:pointer">
                    <!--respondido-->
                    <td ng-if="x.respondido">{{x.titulo}}</td>
                    <td ng-if="x.respondido">{{x.usuarioCriador.nome}}</td>
                    
                    <!--não respondido-->
                    <td ng-if="!x.respondido" ng-click="vm.open('app/pages/ui/modals/modalTemplates/respostaModal.html', 'lg', x.id, x.ultimoPeriodo)">{{x.titulo}}</td>
                    <td ng-if="!x.respondido" ng-click="vm.open('app/pages/ui/modals/modalTemplates/respostaModal.html', 'lg', x.id, x.ultimoPeriodo)">{{x.usuarioCriador.nome}}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs">
                            <span aria-hidden="true">Resultados</span>
                        </button>
                    </td>
                    <td>
                        <!--icones de resposta-->
                        <button ng-click="vm.setPublicacao(x.id, x.publicado)" type="button" class="btn btn-success btn-with-icon btn-xs"
                                data-toggle="tooltip" data-placement="bottom" title="Clique para despublicar"
                                ng-if="x.respondido">
                            <i class="ion-android-checkmark-circle"></i>
                            Respondido</button>
                        
                        <button ng-click="vm.setPublicacao(x.id, x.publicado)" type="button" class="btn btn-warning btn-with-icon btn-xs"
                                data-toggle="tooltip" data-placement="bottom" title="Clique para publicar"
                                ng-if="!x.respondido"> 
                            <i class="ion-alert"></i>
                            Não Respondido</button>
                        
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>




