<div class="row">
    <div class="widgets"
         ba-panel ba-panel-class="with-scroll">

        <form name="vm.myForm" novalidate>
            <div class="row">
                <div class="form-group col-md-12" ng-class="{'has-error': vm.myForm.titulo.$invalid && vm.myForm.titulo.$touched}">
                    <label for="titulo">Titulo</label><strong class="text-danger">*</strong>
                    <input ng-model="vm.obj.titulo" type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" 
                           maxlength="40" required>
                    <p ng-show="vm.myForm.titulo.$invalid && vm.myForm.titulo.$touched" class="text-danger">Digite um titulo</p> 
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="descrição">Descrição</label>
                    <textarea ng-model="vm.obj.descricao" class="form-control" id="descrição" placeholder="descrição" rows="3" maxlength="300"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error': vm.myForm.rPositiva.$invalid && vm.myForm.rPositiva.$touched}">
                    <label for="rPositiva">Resposta Positiva</label><strong class="text-danger">*</strong>
                    <input ng-model="vm.obj.respostaPostivia" type="text" class="form-control" id="rPositiva" name="rPositiva" placeholder="Resposta Positiva" 
                           maxlength="40" required>
                    <p ng-show="vm.myForm.rPositiva.$invalid && vm.myForm.rPositiva.$touched" class="text-danger">Digite uma resposta positiva.</p> 
                </div>

                <div class="form-group col-md-4" ng-class="{'has-error': vm.myForm.rNeutra.$invalid && vm.myForm.rNeutra.$touched}">
                    <label for="rPositiva">Resposta Neutra</label><strong class="text-danger">*</strong>
                    <input ng-model="vm.obj.respostaNeutra" type="text" class="form-control" id="rNeutra" name="rNeutra" placeholder="Resposta Neutra" 
                           maxlength="40" required>
                     <p ng-show="vm.myForm.rNeutra.$invalid && vm.myForm.rNeutra.$touched" class="text-danger">Digite uma resposta neutra.</p> 
                </div>

                <div class="form-group col-md-4" ng-class="{'has-error': vm.myForm.rNegativa.$invalid && vm.myForm.rNegativa.$touched}">
                    <label for="rPositiva">Resposta Negativa</label><strong class="text-danger">*</strong>
                    <input ng-model="vm.obj.respostaNegativa" type="text" class="form-control" id="rNegativa" name="rNegativa" placeholder="Resposta Negativa" 
                           maxlength="40" required>
                     <p ng-show="vm.myForm.rNegativa.$invalid && vm.myForm.rNegativa.$touched" class="text-danger">Digite uma resposta negativa.</p> 
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4" ng-class="{'has-error': vm.myForm.periodo.$invalid && vm.myForm.periodo.$touched}">
                    <label for="periodo">Periodo de Repetição</label><strong class="text-danger">*</strong>
                    <select ng-model="vm.obj.repeticao.id" class="form-control selectpicker" id="periodo" 
                            name="periodo" placeholder="Periodo de Repetição" required>
                        <option ng-repeat="x in vm.repeticoes" value="{{x.id}}">{{x.repeticao}}</option>
                    </select>
                    <p ng-show="vm.myForm.periodo.$invalid && vm.myForm.periodo.$touched" class="text-danger">Selecione um periodo de repetição.</p> 
                </div>
                <div class="form-group col-md-4">
                    <label for="repeticoes">Quantidade de repetições</label>
                    <input type="number" class="form-control" id="repeticoes" name="repeticoes" placeholder="Quantidade de repetições">
                </div>
                
                <div class="form-group col-md-4" ng-class="{'has-error': vm.myForm.dt_disponibilidade.$invalid && vm.myForm.dt_disponibilidade.$touched}">
                    <label for="dt_disponibilidade">Data limite de disponibilidade</label><strong class="text-danger">*</strong>
                    <input ng-model="vm.obj.dt_disponibilidade" type="date" class="form-control" id="dt_disponibilidade" 
                           name="dt_disponibilidade" placeholder="Data limite de disponibilidade" min="{{vm.minDate | date:'yyyy-MM-dd'}}" required>
                    <p ng-show="vm.myForm.dt_disponibilidade.$invalid && vm.myForm.dt_disponibilidade.$touched" class="text-danger">Digite ou selecione a data limite de disponibilidade que não seja um dia passado.</p> 
                </div>{{}}
            </div>
            <button ng-click="vm.salvar(vm.myForm, vm.obj)" class="btn btn-success">Enviar</button>
        </form>

    </div>
</div>