    <h3>Trocar Usuário</h3>

    <form form="login" class="form-horizontal">
      <div class="form-group">
        <label for="periodo">Usuário</label>{{vm.usuario}}
                    <select ng-model="vm.usuario" class="form-control" id="periodo" name="periodo" placeholder="Usuários"
                            ng-change="vm.setUsuario(vm.usuario)">
                        <option ng-repeat="x in vm.usuarios" value="{{x.id}}">{{x.nome}}</option>
                    </select>
      </div>
    </form>
